.container_chat{
    position: fixed;
    right: 20px;
    bottom: -300px;
    min-width: 250px;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    z-index: 9999999;
    transition: ease all 0.5s;
}
.container_chat.active{
    bottom: 0;

}
.container_chat .title_form_chat{
    padding: 10px;
    font-weight: 600;
    background: gray;
    display: flex;
    color: #fff;
    cursor: pointer;
}
.container_message{
    height: 250px;
    overflow: scroll;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 3px 0;
}
.form_chat{
    display: flex;
}
.include_input_chat input{
    margin-right: 3px;
    border: none;
    height: 28px;
}
.include_input_chat input:focus,
.include_input_chat input:active{
    border: none;
    box-shadow: none;
    outline: none;
}
.btn-close{
    margin: auto 0 auto auto;
}
.title{
    margin: auto auto auto 0;
}

.item_chat{
    background: #666;
    color: #fff;
    max-width: 80%;
    margin: 8px 0;
    padding: 8px;
    border-radius: 17px;
}

.item_chat.your_self{
    background: #286090;
    color: #fff;
    max-width: 80%;
    margin: 8px 0 8px auto;
    padding: 8px;
    border-radius: 17px;
}